.details {
    background-image     : url('../../img/fondo3.jpg');
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;


    display        : flex;
    align-items    : center;
    flex-direction : column;

    padding-top    : 100px;
    padding-bottom : 100px;
}

/* ----------------------------------- */


.recipe {
    width                : 706px;
    font-size: 20px;
    font-weight: 600;
}

.error{
    color: red;
    border-radius: 30px;
    background-color: #ffffffc2;
    display: flex;
    width: 400px;
    height: 57.8vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error p{
    font-size: 20px;
}

.navDetails{
    display: flex;
    position: fixed;
    left: 0;
    top: 20vh;
    background-color: #f8f8f8e0;
    width: 170px;
    border-radius: 20px;
    font-size: 18px;
}

.navDetails a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    width: 170px;
}

.navDetails a:hover{
    color: white;
}

.listDetails{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0px;
}

.listDetails li{
    display: flex;
    justify-content: center;

    width: 170px;
    padding: 8px;
}

.listDetails li:hover{
    background-color: darkcyan;
    border: solid 2px;
}


/* ----------------------------------- */

.nameDetails {
    background-color: rgb(0 0 0 / 69%);
    color: #e0e0e0;
    border: solid 3px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px;
    font-size: 28px;
    -webkit-text-stroke-width: thin;
}

/* ----------------------------------- */
.imageDetails {
    background-image     : url('../../img/plato.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 750px 750px;

    width          : 700px;
    height         : 500px;
    display        : flex;
    align-items    : center;
    justify-content: center;

    border               : solid 3px;

    margin-bottom: 50px;
}

.image{
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 999px;
}


/* ----------------------------------- */

.summaryDetails {
    background-color: #e0e0e0e6;
    border               : solid 3px;
    width          : 700px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 50px;
    margin-bottom: 50px;

}

.summaryDetails span{
    font-weight: 400;
}


/* ----------------------------------- */

.scoreDetails {
    background-color: #aadddde3;
    border               : solid 3px;
    width          : 700px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 50px;
    margin-bottom: 50px;
}

.score{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* ----------------------------------- */

.healthScoreDetails {
    background-color: #1e6609e6;
    border               : solid 3px;
    width          : 700px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 50px;
    margin-bottom: 50px;
}

.healthScore{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* ----------------------------------- */

.stepsDetails {
    background-image     : url('../../img/libro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 900px;

    border: solid 3px;
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px;
}

.stepsDetails h3{
    margin: 0;
    padding-bottom: 10px;
}

.steps{
    display: flex;

    height: 370px;
    width: 520px;
    padding-left: 40px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.listSteps{
    display: flex;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 370px;
    width: 520px;
    padding-left: 40px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-top: 15px;
}

.listSteps::-webkit-scrollbar {
    width: 12px;
}

.listSteps::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.listSteps::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.listSteps::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ----------------------------------- */

.dishTypesDetails {
    background-color: #f5deb3cf;
    border               : solid 3px;
    width          : 700px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 50px;
    margin-bottom: 50px;
}

/* ----------------------------------- */

.dietsDetails {
    background-color: #999999ed;
    width          : 700px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 50px;
    margin-bottom: 50px;
    border               : solid 3px;
}
.dietsDetails ul{
    list-style: none;
}

/* ----------------------------------- */

.notFound {
    display: flex;
    color: red;
    font-weight: 600;
    width: 800px;
    padding: 50px;
    align-items: center;
    justify-content: center;
}