.pagination {

}

.recipes {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
}


.filters {
    background-color: #888;
    padding         : 20px;
}

.searchName {
    background-color: rgb(0 0 0 / 80%);
    display         : flex;
    height          : 50px;
    justify-content : center;
    align-items     : center;
    padding         : 35px;
    margin-bottom   : 10px;
    font-weight     : 600;
    color           : white;
    border-radius   : 30px;
}

.searchName input {
    margin-left: 10px;
}

.numberPage {
    padding: 20px;
    height: 130px;
    background-color: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.numberPage h2{
    margin: 0;
}

.totalNumberButtons {
    display        : flex;
    justify-content: center;
}

.numberPage button {
    background-color: #303236;
    color           : white;
    height          : 40px;
    width           : 40px;
    border-radius   : 5px;
}

.numberPage button:hover {
    background-color: black;
    color           : white;
}

.numberPage .currentPage {
    background-color: white;
    color           : black;
}

.totalRecipes {
    background-color: rgb(0 0 0 / 80%);
    display         : flex;
    height          : 50px;
    justify-content : space-evenly;
    align-items     : center;
    padding         : 35px;
    font-weight     : 600;
    color           : white;
    border-radius   : 30px;
}


.total {
    display        : flex;
    align-items    : center;
    width          : 300px;
    justify-content: space-around;
}

.total h2 {
    display         : flex;
    height          : 50px;
    background-color: rgb(23 16 166);
    align-items     : center;
    justify-content : center;
    font-size       : 30px;
    padding         : 20px;
    border          : solid;
}