.pagination {
    width: 100%;    
}

.recipes {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    background-color: #303236;
}

.filters {
    background-color: #888888;
    padding         : 20px;
    display         : flex;
    align-items     : center;
    justify-content : space-around;
    flex-direction  : column;
}

@media (max-width: 500px) {
    .filters {
        flex-direction  : column;
        width: 100%;
        height: 100%;
    }
}

.filters label{
    color: black;
}

.searchName {
    padding      : 20px;
    font-weight  : 600;
    color        : white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 500px) {
    .searchName {
        flex-direction  : column;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
}

.searchName input{
    margin-top      : 5px;
    background-color: #555;
    color           : white;
    font-size       : 18px;
    padding-left: 10px;
}


@media (max-width: 500px) {
    .searchName input{
        width: 100%;
    }
}

.searchName input::placeholder {
    color: lightgray;
}

.numberPage {
    background-color: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
}


@media (max-width: 500px) {
    .numberPage {
        flex-direction  : column;
        width: 100%;
        height: 100%;
        margin: 10px;
    }
}

.numberPage h2 {
    margin: 0;
}

.totalNumberButtons {
    display        : flex;
    justify-content: center;
}

.numberPage button {
    background-color: #303236;
    color           : white;
    height          : 40px;
    width           : 40px;
    border-radius   : 5px;
}

.numberPage button:hover {
    background-color: black;
    color           : white;
}

.numberPage .currentPage {
    background-color: white;
    color           : black;
}

.totalRecipes {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    border-radius: 30px;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}

@media (max-width:750px){
    .totalRecipes {
        flex-direction  : column;
        align-items: center;
        width      : 100%;
    }
}

.total {
    display    : flex;
    align-items: center;
}


@media (max-width:500px){
    .total {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
}

.total h2 {
    display         : flex;
    height          : 50px;
    background-color: #000000;
    color           : #978b24;
    align-items     : center;
    justify-content : center;
    font-size       : 30px;
    padding         : 20px;
    margin-left     : 10px;
    border          : solid;
}
@media (max-width: 500px) {
    .total h2{
        width: 50%;
    }
}

.totalInput {
    display       : flex;
    flex-direction: column;
}

.totalInput input{
    margin-top      : 5px;
    background-color: #555;
    color           : white;
    font-size       : 18px;
    padding-left: 10px;
}

@media (max-width: 500px) {
    .totalInput input{
        width: 100%;
    }
}


.totalInput input::placeholder {
    color: lightgray;
}