.recipe {
    background-image: url('../../img/card.png');
    background-repeat: no-repeat;
    background-size: 400px 650px;
    border: solid;
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.recipe a{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration:none;
    color: white;
}

.recipe a:hover{
    color:#357ae8;
}

.img{
    width: 270px;
    height: 270px;
}

.diets{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
}



.diets h4{
    color:aliceblue;
    height: 20px;
    margin: 0;
}

.diets {   
    color: #36ff00;
}


.titleContainer{
    width:330px;
    height: 125px;
}

.imgContainer{
    width:350px;
    height: 300px;
}
.dietsContainer{
    width:350px;
    height: 225px;
}


