.recipe {
    background-image: url('../../img/card.png');
    background-repeat: no-repeat;
    background-size: 400px 650px;
    border: solid;
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.recipe a{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration:none;
    color: white;
}

.recipe a:hover{
    color:#357ae8;
}


.titleContainer{
    width:300px;

    display        : flex;
    justify-content: center;
    
}


.imgContainer{
    width:350px;
    height: 300px;
    display        : flex;
    justify-content: center;
}

.img{
    width: 270px;
    height: 270px;
    border-radius: 99px;
}

.img {overflow:hidden;}

.img:hover {transform:scale(1.1);}



.dietsContainer{
    width:350px;
    height: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.diets{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
}

.diets h4{
    color:aliceblue;
    height: 20px;
    margin: 0;
}

.diets {   
    color: #36ff00;
}







