.recipe {
    background-image: url('../../img/card.png');
    background-repeat: no-repeat;
    background-size: 400px 700px;
    border: solid;
    width: 400px;
    height: 700px;
    
    margin: 15px 15px 40px 15px;
}

.recipe a{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration:none;
    color: white;
}

.recipe a:hover{
    color:#357ae8;
}

/* ----------------------------- */
.titleContainer{
    width: 380px;
    padding-top: 10px;
    padding-left: 40px;
    height: 150px;
    display: flex;
    justify-content: center;
    
}

/* ----------------------------- */

.imgContainer{
    display: flex;
    justify-content: center;
    overflow: hidden;

    border-radius: 99px;
    padding-bottom: 20px;
}

.img{
    border-radius: 99px; 
    border: solid 3px white
}

.img:hover {
    transform:scale(1.2);
}

/* ----------------------------- */

.scoreContainer{
    color: #a7a060;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scoreContainer h2{
    color: #a7a060;
    margin: 0;
    width: 70px;
    height: 70px;
    border: solid;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303236;
}


/* ----------------------------- */

.dietsContainer{
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    height: 180px;
}

.diets{
    width:350px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

.diets h4{
    color: aliceblue;
    height: 20px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 8px;
}

.diets {   
    width:350px;
    color: #36ff00;
    font-size: 18px;
}







